#logo-img-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://github.com/abhishekzzz/codingninjas_practice/blob/3ee671548210552d972859ccb677bfd9feecb3cc/CSS/static/macbook_mouse.jpg");
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: contain;
  background-attachment: fixed;
}
