html{
	font-size: 30px;
}

#div1{
	height:4rem; 
	/*100vh;*/
	/*200px;*/
	width: 6rem;
	/*100vw;*/
	/*300px;*/
	background-color: hsla(240, 89%, 53%, 0.5);
	/*hsl(240, 89%, 53%);*/
	/*rgba(25, 126, 200, 0.5);*/
	/*rgb(250, 126, 200);*/
	/*#393a7b;*/
	/*	red;*/
	/*border-width: 2px 4px 6px 8px;
	border-style: solid;
	border-color: red;*/

	border: 4px solid red;
	border-radius: 6px;
}

#sample-para{
	border: solid red;
/*	border-left: 4px solid red;*/
	border-bottom-width: 4px;
}
#div2{
	height: 50%;
	width: 50%;
	background-color: cyan;
}

