header{
	color: darkred;
}

article {
    width: 1000px
}

p{
	color: orange;
/*	font-family: sans-serif;*/
}

h1{
	font-size: 40px;
/*	font-family: sans-serif;*/
}

p,h1 {
	font-family: sans-serif;
}

#blog-title:hover{
	color:purple;
}

/*h4{
	text-transform: uppercase;
}*/

/*li h4{
	text-transform: uppercase;
	font-family: cursive;
}
*/
.uppercase {
	text-transform: uppercase;
}

.cursive{
	font-family: cursive;
}

#blog-desc{
	color:#314831;
}