header{
	color: darkred;
  height: 400px
}

article {
    width: 1000px
}

p{
	color: orange;
}

/*h4{
	text-transform: uppercase;
}*/

.uppercase {
	text-transform: uppercase;
}

.cursive{
	font-family: cursive;
}